<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magecom
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magecom.net so we can send you a copy immediately.
 *
 * @category Magecom
 * @package Magecom_PriceUpdateManager
 * @copyright Copyright (c) 2015 Magecom, Inc. (http://www.magecom.net)
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config> 
    <tabs>
        <magecom module="priceupdatemanager" translate="label">
            <label>Magecom</label>
            <sort_order>300</sort_order>
        </magecom>
    </tabs>
    <sections>
        <magecom_priceupdatemanager module="priceupdatemanager" translate="label">
            <label>Price update manager</label>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <frontend_type>text</frontend_type>
            <tab>magecom</tab>
            <groups>
                <general translate="label">
                    <label>General settings</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <frontend_type>text</frontend_type>
                    <fields>
                        <clean_cache translate="label comment" module='priceupdatemanager'>
                            <label>Clear cache after update</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </clean_cache>
                        <reindex translate="label comment" module='priceupdatemanager'>
                            <label>Reindex after update</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </reindex>
                        <attrubute_code translate="label comment" module='priceupdatemanager'>
                            <label>Choose additional filter</label>
                            <source_model>priceupdatemanager/system_config_source_attribute</source_model>
                            <validate>required-entry</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                        </attrubute_code>
                    </fields>
                </general>
            </groups>
        </magecom_priceupdatemanager>
    </sections>
</config>        